.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  padding-bottom: 40rem;
}
.section-features {
  background-image: linear-gradient(
      to right bottom,
      rgba(85, 197, 122, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../img/mountain.jpg");
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem;
  background-size: cover;
  & > * {
    transform: skewY(7deg);
  }
}
.section-package {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -9rem;
}
